# <span style="color:seagreen;">Workbook for Chapter 12 of Explorations in Computing</span>

### <span style="color:seagreen;">Section 12.4: Point Mutations</span>

##### Execute these cells to initialize the notebook:

In [ ]:
from PythonLabs.TSPLab import *

In [ ]:
%matplotlib tk

#### Exercises:

T32. Make a map object for the five cities in Ireland:

T33. Make a new tour with the cities Dublin, Cork, Limerick, Belfast, and Galway, in that order:

T34. Print the cost of this tour:

T35. Draw the map and tour on the canvas:

T36. Note that Belfast is in location 3 in the list that represents the tour:

T37. If we exchange the order that this tour visits Belfast and Galway we will remove the twist.  Call `mutate` to exchange the cities at locations 3 and 4:

T38. Call `view_tour` again to update the canvas to show the mutated tour:

T39. Print the new path and cost: